<md-card class="q-card">
  Question {{questionBank.length}}
  <md-tab-group>
    <div *ngFor='let q of questionBank; let i=index;'>
      <md-tab>
        <ng-template md-tab-label>
          Q {{i+1}}
          <md-icon *ngIf='!!userAnswer[0][q.$key] && q.answer===userAnswer[0][q.$key]' class="green" (visible)='marks=marks+1'>check_circle</md-icon>
          <md-icon *ngIf='!!userAnswer[0][q.$key] && q.answer!==userAnswer[0][q.$key]' class="red">cancel</md-icon>
        </ng-template>

        <md-card>
          <md-card-content>{{q.question}}</md-card-content>
          <md-card-actions>
            <form name="f2" *ngIf='!userAnswer[0][q.$key]'>
              <md-input-container>
                <input name="answerField" mdInput placeholder="Your Answer" [(ngModel)]="answer">
              </md-input-container> 
              <button md-raised-button (click)="addUserAnswer(q.$key,auth.loginData?.uid)">Submit</button>
            </form>
            <label *ngIf='!!userAnswer[0][q.$key]'>Your Answer: {{userAnswer[0][q.$key]}}</label>
            <md-icon *ngIf='!!userAnswer[0][q.$key] && q.answer===userAnswer[0][q.$key]' class="green">check</md-icon>
            <md-icon *ngIf='!!userAnswer[0][q.$key] && q.answer!==userAnswer[0][q.$key]' class="red">close</md-icon>
          </md-card-actions>
        </md-card>

      </md-tab>
    </div>

  </md-tab-group>
</md-card>
<div class="gift-card"  routerLink="/gift-hint" *ngIf='!!userAnswer[0] && isGiftAvailable'>
  <button md-raised-button class="black" style="font-size: 20px; background-color: goldenrod;">
    <md-icon style="font-size:90px; text-align:center; width:100px; height: 80px">card_giftcard
    </md-icon> <br />View My Gift </button>
</div>